{% extends "base.html" %}
{% load static %}

    {% block header %}
    <title>ARTELIA - MopiDigues - Nos outils</title>
    {% endblock %}

    {% block content %}

        <section id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="main_testimonial_text center-content">
                        <div class="col-md-12 col-sm-12 single_testimonial_text item">
                            <p>Nous souhaitons fournir à nos clients les outils nécesaires pour reprendre le contrôle de leurs ouvrages et aborder avec sérennité leurs missions de gestion patrimoniale. Pour cela nous nous appuyons uniquement sur des techniques et des logiciels libres, reconnus et facilement accessibles par tous.</p><br /><br />
                        </div>

                    </div>
                </div>
            </div>
        </section>

            <section id="works" class="center-content">
            <div class="container">
                <div class="row">
                    <div class="works_content text-center">
                        <div class="col-md-3 col-sm-6 col-xs-12" >
                            <div class="single_works_text wow fadeInLeft" data-wow-duration=".8s" >
                                <a href="{% url 'carto:cartes' %}"><i class="fa fa-rocket" ></i></a>
                                <h3>Des cartes accessibles</h3>
                                <p>Visionnez toutes vos cartes en toute simplicité depuis votre ordinateur, tablette ou smartphone</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single_works_text wow fadeInLeft" data-wow-duration=".8s">
                                <a href="{% url 'carto:outils' %}"><i class="fa fa-cube"></i></a>
                                <h3>L'expertise ARTELIA</h3>
                                <p>Toute l'expertise ARTELIA centralisée sur une unique plateforme, ergonomique</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single_works_text wow fadeInLeft" data-wow-duration="1.2s">
                                <a href="#downloadApps"><i class="fa fa-magic"></i></a>
                                <h3>La magie Open Source</h3>
                                <p>Notre plateforme repose uniquement sur des outils Open Source, accessible à tous.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single_works_text wow fadeInLeft" data-wow-duration="1.5s">
                                <a href="{% url 'carto:calendrier' %}"><i class="fa fa-code-fork"></i></a>
                                <h3>Gérez votre patrimoine</h3>
                                <p>Gardez toujours un oeil sur vos échéances, vos travaux prévus et à prévoir. </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single_works_text wow fadeInLeft" data-wow-duration="1.9s">
                                <a href="{% url 'carto:forum' %}"><i class="fa fa-crop"></i></a>
                                <h3>Collaborez aisément</h3>
                                <p>Echangez avec vos partenaires sur un forum dédié à votre patrimoine. </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single_works_text wow fadeInLeft" data-wow-duration="2.3s">
                                <a href="{% url 'carto:rapports' %}"><i class="fa fa-database"></i></a>
                                <h3>Téléchargez vos données</h3>
                                <p>Vos données sont accessible simplement, à tout moment, gratuitement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Download Section  -->

        <section id="downloadApps">
            <div class="container">
                <div class="row">
                    <div class="download_heading_text center-content">
                        <h1>Le meilleur du logiciel libre</h1>
                        <p>ARTELIA s'engage pour le logicel libre auprès de ses clients et propose des solutions reposant uniquement sur les meilleurs outils open source selectionnés pour vous</p>

                        <div class="down_text_des wow fadeInUp" data-wow-duration="1.5s">
                            <a href="https://www.djangoproject.com/"><img src="{% static "images/django-python.png" %}" alt="" /></a>
                            <a href="https://www.postgresql.org/"><img src="{% static "images/logo_postgresql.png" %}" alt="" /></a>
                            <a href="http://www.postgis.net/"><img src="{% static "images/postgis-logo.png" %}" alt="" /></a>
                        </div>
                        <div class="down_text_des wow fadeInUp" data-wow-duration="1.5s">
                            <a href="http://geoserver.org/"><img src="{% static "images/geoserver.png" %}" alt="" /></a>
                            <a href="https://openlayers.org/"><img src="{% static "images/openlayers.png" %}" alt="" /></a>
                            <a href="http://openstreetmap.fr/"><img src="{% static "images/openstreetmap.jpg" %}" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}


