{% extends "base.html" %}
{% load static %}


    {% block header %}
    <title>ARTELIA - MopiDigues - Détail des désordres</title>
    {% endblock %}

    {% block content %}



        <section id="home">


        </section>


        <section id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="main_testimonial_text center-content">
                        <div class="col-md-12 col-sm-12 single_testimonial_text item">
                        <img src="{% static "images/bandeau_logo.png" %}" alt="" />
                            <p><br /><br /><h1>Desordre : {{desordre.id_desordre}}</h1></p><br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Download Section  -->

        <section id="QuestionText">
            <div class="container">
                <div class="row">
                        <img src="{% static "images/bandeau_logo.png" %}" alt="" />
                    <div class="col-sm-6 col-xs-12"><br /><br />
                        <p><h3> Libelle : {{desordre.libelle}}</h3></p>
                        <p><h3> Date d'observation : {{desordre.datecreation}}</h3> </p>
                        <p><h3> Impact : {{desordre.impact}}</h3> </p>
                    </div>
                    <div class="col-sm-6 col-xs-12"><br /><br />
                        <p><h3> Priorité : {{desordre.priorite}}</h3> </p>
                        <p><h3> Risque : {{desordre.risques}}</h3> </p>
                        <p><h3> Gravité : {{desordre.gravite}}</h3> </p>
                    </div>
                </div>
                        <p><a href="{% url 'carto:Desordres' %}">Retour aux Desordres</a></p><br /><br />
            </div>
        </section>
        <section id="QuestionText">
            <div class="container">
                <div class="row">
                        <img src="{% static "images/bandeau_logo.png" %}" alt="" />
                    <div class="col-sm-6 col-xs-12"><br /><br />
                        {% for troncon in list_troncons %}
                        <h3>Infrastructures associées :</h3>
                        <li><p><a href="{% url 'carto:Troncons' %}{{troncon.id_infralineaire}}"><h3>{{troncon}}</h3></a></p></li>
                        {% endfor %}
                        {% for noeud in list_noeuds%}
                        <h3>Noeuds associés :</h3>
                        <li><p><a href="{% url 'carto:Noeuds' %}{{noeud.id_noeud}}"><h3>{{noeud}}</h3></a></p></li>
                        {% endfor %}
                        {% for environnement in list_env%}
                        <h3>Elements d'environnement associés :</h3>
                        <li><p><a href="{% url 'carto:Environnements' %}{{environnement.id_environnement}}"><h3>{{environnement}}</h3></a></p></li>
                        {% endfor %}
                        {% for equipement in list_equipements%}
                        <h3>Equipements associés :</h3>
                        <li><p><a href="{% url 'carto:Equipements' %}{{equipement.id_equipement}}"><h3>{{equipement}}</h3></a></p></li>
                        {% endfor %}

                        <h3>Acteurs associés :</h3>
                        {% for i in list_gestionnaire.all %}
                        <li><p><h3>{{i}}</h3></p></li>
                        {% endfor %}<br /><br /><br /><br />
                    </div>
                    <div class="col-sm-6 col-xs-12"><br /><br />
                        <h3>Zones géographiques concernées :</h3>
                        {% for i in list_zoneGeo.all %}
                        <li><p><h3>{{i}}</h3></p></li>
                        {% endfor %}



                        <h3>Photos associées :</h3>
                        <p>Survoler l'item pour afficher la photo</p>
                        {% for i in list_photos %}
                        <li><div class="tooltip-photo"><p><h3>{{i}}</h3><span class="tooltiptext"> <img src="/static/{{i.file}}" %}" > <br />{{i.libelle}}<br /> {{i.description}}</span></p></div></li>
                        {% endfor %}<br /><br /><br /><br />



                    </div>
                </div>
            </div>
        </section>
    {% endblock %}


