{% extends "base.html" %}
{% load static %}


    {% block header %}
    <title>ARTELIA - MopiDigues - Détails des éléments environnementaux</title>
    {% endblock %}

    {% block content %}



        <section id="home">


        </section>


        <section id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="main_testimonial_text center-content">
                        <div class="col-md-12 col-sm-12 single_testimonial_text item">
                        <img src="{% static "images/bandeau_logo.png" %}" alt="" />
                            <p><br /><br /><h1>Element environnemental : {{environnement.id_environnement}}</h1> </p><br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Download Section  -->

        <section id="QuestionText">
            <div class="container">
                <div class="row">
                        <img src="{% static "images/bandeau_logo.png" %}" alt="" />
                    <div class="col-sm-6 col-xs-12"><br /><br />
                        <p> <h3>Libelle : {{environnement.libelle}}</h3></p>
                        <p><h3> Importance stratégique : {{environnement.importancestrat}}</h3> </p>
                        <p> <h3>Etat de fonctionnement : {{environnement.etatfonct}} </h3></p>
                    </div>
                    <div class="col-sm-6 col-xs-12"><br /><br />
                        <p><h3> Date de création : {{environnement.datecreation}}</h3> </p>
                        <p><h3> Date de la dernière mise à jour : {{environnement.datederniereobs}}</h3> </p>
                        <p><h3> Commentaire : {{environnement.commentaire}}</h3> </p>
                    </div>
                </div>
                        <p><a href="{% url 'carto:Environnements' %}">Retour aux Elements d'environnement</a></p><br /><br />
            </div>
        </section>
        <section id="QuestionText">
            <div class="container">
                <div class="row">
                        <img src="{% static "images/bandeau_logo.png" %}" alt="" />
                    <div class="col-sm-6 col-xs-12"><br /><br />
                        {% if lineaire %}
                        <h3>Infrastructure associée : <a href="{% url 'carto:Troncons' %}{{list_equipement.id_infralineaire}}">{{list_equipement}}</h3></a>
                        {% endif %}
                        {% if noeud %}
                        <h3>Noeud associé : <a href="{% url 'carto:Noeuds' %}{{list_equipement.id_noeud}}">{{list_equipement}}</h3></a>
                        {% endif %}


                        <h3>Acteurs associés :</h3>
                        {% for i in list_gestionnaire.all %}
                        <li><p><h3>{{i}}</h3></p></li>
                        {% endfor %}
                        <h3>Zones géographiques concernées :</h3>
                        {% for i in list_zoneGeo.all %}
                        <li><p><h3>{{i}}</h3></p></li>
                        {% endfor %}
                        <h3>Desordres observés :</h3>
                        {% for i in list_desordre %}
                        <li><p><a href="{% url 'carto:Desordres' %}{{i.id_desordres}}"><h3>{{i}}</h3></a></p></li>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6 col-xs-12"><br /><br />
                        <h3>Travaux à mener :</h3>
                        {% for i in list_travaux %}
                        <li><p><a href="{% url 'carto:VueTravaux' %}{{i.id_travaux}}"><h3>{{i}}</h3></a></p></li>
                        {% endfor %}


                        <h3>Photos associées :</h3>
                        <p>Survoler l'item pour afficher la photo</p>
                        {% for i in list_photos %}
                        <li><div class="tooltip-photo"><p><h3>{{i}}</h3><span class="tooltiptext"> <img src="/static/{{i.file}}" %}" > <br />{{i.libelle}}<br /> {{i.description}}</span></p></div></li>
                        {% endfor %}<br /><br /><br /><br />
                    </div>


                </div>
            </div>
        </section>
    {% endblock %}


