{% extends "base.html" %}
{% load static %}


    {% block header %}
    <title>ARTELIA - MopiDigues - {{day}}/{{month}}//{{year}} </title>
    {% endblock %}

    {% block content %}



        <section id="home">


        </section>


        <section id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="main_testimonial_text center-content">
                        <div class="col-md-12 col-sm-12 single_testimonial_text item">
                            <p><br /><br /><h1>Evnements programmés le {{day}}/{{month}}//{{year}}</h1> </p><br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Download Section  -->
        {% for evt in list_events2 %}
        <section id="QuestionText">
            <div class="container">
                <div class="row">
                    <div class="QuestionText center-content">
                        <p><h3> Importance/Urgence : Niveau {{evt.gravite}} </h3></p>
                        <p> <h3>Description : {{evt.description}} </h3></p>
                        <p> <h3>Commentaire : {{evt.commentaire}} </h3></p>
                    </div>
                </div>
            </div>
        </section>

        {% endfor %}
        <section id="QuestionText">
            <div class="container">
                        <p><a href="{% url 'carto:calendrier' %}">Retour au calendrier</a></p><br /><br />
        </div>
        </section>
    {% endblock %}
