{% extends "base.html" %}
{% load static %}

    {% block header %}
    <title>ARTELIA - MopiDigues - Changement de mot de passe</title>
    {% endblock %}

    {% block content %}


        <section id="work">
            <div class="container"><br /><br /><br /><br /><br /><br /><br />
            </div>
        </section>
        <section id="description_third">
            <div class="container">
                <br /><br /><br /><br /><br /><br />

                <p>Votre mot de passe a été changé</p>

            </div>
        </section>
    {% endblock %}